

params{
    // Paths to input and output dirs
    in_dir = "/home/gerrit/scratch/metagenomics-hackathon-2019/datasets/test/nanopore/camelpox_virus_negev2016/small/"
    out_dir = "/home/gerrit/scratch/metagenomics-hackathon-2019/nextflow/out"

    // Tool settings
    read_type = "nanopore" // Supports "nanopore" and "pacbio"

    // Paths to tool dbs
    kraken_db = "/home/gerrit/scratch/metagenomics-hackathon-2019/dbs/kraken2/minikraken2_v2_8GB"
    minimap2_decontaminant_db = "/spaces/gerrit/projects/metagenomics-hackathon-2019/dbs/minimap2/human/GCF_000001405.38_GRCh38.p12_genomic.fna.gz"
    minimap2_viral_db = "/spaces/gerrit/projects/metagenomics-hackathon-2019/dbs/minimap2/complete-viral/all.fasta"

    // NCBI mapping files
    nucl_gb_accession2taxid_file = "/spaces/gerrit/projects/metagenomics-hackathon-2019/dbs/ncbi-taxonomy/nucl_gb.accession2taxid"
    names_dmp_file = "/spaces/gerrit/projects/metagenomics-hackathon-2019/dbs/ncbi-taxonomy/names.dmp"
}

executor{
    jobName = { "$task.tag" }
}

process {
    cache = true

    stageInMode='symlink'
    stageOutMode='rsync'

    withLabel: removereads {
         container = 'docker://quay.io/grbot/remove-reads'
    }

    withLabel: kraken {
        container = 'docker://quay.io/grbot/kraken2'
    }

    withLabel: minimap2 {
        container = 'docker://quay.io/biocontainers/minimap2:2.16--h84994c4_1'
    }
    withLabel: getidentity {
        container = 'docker://quay.io/grbot/get-identity'
    }
    withLabel: krona {
        container = 'docker://quay.io/grbot/krona'
    }
    withLabel: finalreport {
        container = 'docker://quay.io/grbot/final-report-long-reads'
    }
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 4
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.time = 96.h
        process.errorStrategy = 'finish'
      	process.maxErrors = 1000
    }


    

    singularity {
        cacheDir = "${HOME}/.singularity"
        singularity.autoMounts = true
        singularity.enabled = true
     }


}
