params{
    // Define all input files
    // Paths to dbs and input files
    in_dir = "/spaces/gerrit/projects/metagenomics-hackathon-2019/data/virus_detection"
    out_dir = "/spaces/gerrit/projects/metagenomics-hackathon-2019/nextflow/out"

    // We assume that the Kraken and minimap2 databases has been build
    // Define paths to dbs here
    kraken_db = "/local/kraken/mini8GB/"
    minimap2_db = "/spaces/gerrit/projects/metagenomics-hackathon-2019/data/minimap2/all.fasta"
    krona_db = "/global/taxonomy/"

}

executor{
    jobName = { "$task.tag" }
}


profiles {
    standard {
        process.executor = 'local'
    }

    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.time = 96.h
        process.errorStrategy = 'retry'
	process.maxRetries = 5
	process.maxErrors = 1000
        process.clusterOptions = '--mail-user=gerrit.botha@uct.ac.za'
    }

}
