singularity.enabled = true

params{
    // define all input files
    reads="data/*_{1,2}.fq"  // input directory for fastq files
    krakenDB="krakenDB"   // Path to kraken DB
    genome="hostDB/host" // path to indexed host genome
    viralGenomes="viralDB/all" // path to indexed candidate viral genomes
}

executor{
    jobName = { "$task.tag" }
}

process {
    cache = true

    stageInMode='symlink'
    stageOutMode='rsync'

    withLabel: kraken {
        container = 'docker://quay.io/biocontainers/kraken2:2.0.7_beta--pl526h2d50403_0'
    }
   
    withLabel: krona {
        container = 'docker://quay.io/biocontainers/krona:2.7--pl526_2'
    }
}

profiles {
    standard {
        process.executor = 'local'
    }

    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.time = 96.h
        process.errorStrategy = 'retry'
    	process.maxRetries = 5
    	process.maxErrors = 1000
    }

}
