params{
params.reads = "$baseDir/input/{1,2}.fastq"
params.scripts = "$baseDir/add_script/final_report_v5.py"

krakenDB2=" /home/mariemhanachi/data/kraken/minikraken_20171013_4GB/"
viralGenomes ="/home/mariemhanachi/data/virus_genomes/all_"
kronadb="/home/mariemhanachi/data/krona/taxonomy/taxonomy.tab"
genomedb ="/home/mariemhanachi/data/bmtagger/hs37_" 
out_dir="/home/mariemhanachi/output/"

