
queue = 'batch'


params { 

    out_dir = "output"
    input_pat = "input/patient2/*fastq.gz"
    reference = "input/1309_ECLO.fna"
    mapq      = 60
    n_mismatches= 5
    min_cvg     = 5
    min_genome_percent = 0.5
    label = "ECLO"
}


profiles { 

 
   slurm {
       process.executor = 'slurm'
       process.queue    = queue
   }



}


process {

    time='1h'
    memory = '2GB'

    withLabel:bigmem {
          memory = '8GB'
    }


}
