

params {

   mpa = "/opt/exp_soft/bioinf/metaphlan2/db_v20"
   inp_metaphlan = '/home/ansieyssel/h3ameta/test_datasets/taxonomic_classification/*.f*q*'
   out_metaphlan = 'metaout'


   out_kraken  = 'outs/'
   db          = '/local/kraken/mini8GB'
   readlen     = '100'
   tax_level   = 'S'
   annot_db    = "/home/mushalali/h3ameta/straincomp/nature_K_pneumoniae/ARGannot_r3_db.fasta"
   strainSifter_config = '/home/mushalali/bin/StrainSifter/config.yaml'
   inp_kraken  = '/home/mushalali/h3ameta/straincomp/nature_K_pneumoniae/nature_K_pneumoniae_fastq/R1/*_1.fastq.gz'
   dataset_table = '/home/mushalali/h3ameta/straincomp/nature_K_pneumoniae/nature_K_pneumoniae_datasets.txt'
   paired        = false



}


