profiles {
    standard {
        process.executor = 'local'
    }

    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.time = 96.h
        process.errorStrategy = 'retry'
	process.maxRetries = 5
	process.maxErrors = 1000
        process.clusterOptions = '--mail-user=mushalallam@gmail.com'
    }

}
