
params {


   out         = 'outs/'
   db          = '/local/kraken/mini8GB'
   readlen     = '100'
   tax_level   = 'S'
   annot_db    = "/home/mushalali/h3ameta/straincomp/nature_K_pneumoniae/ARGannot_r3_db.fasta"
   strainSifter_config = '/home/mushalali/bin/StrainSifter/config.yaml'
   inp         = '/home/mushalali/h3ameta/straincomp/nature_K_pneumoniae/nature_K_pneumoniae_fastq/R1/*_1.fastq.gz'
   dataset_table = '/home/mushalali/h3ameta/straincomp/nature_K_pneumoniae/nature_K_pneumoniae_datasets.txt'
   paired        = false



}

