singularity.enabled = true
singularity.runOptions="--bind /labs/" //this path must be replaced with some high-level directory containing all working directories and files

process{
	executor= 'local' //perform jobs locally by default
	clusterOptions= '--account asbhatt' //use the bhatt slurm account for cluster jobs

	withName: kraken {
		executor='slurm' //this job should be performed on the cluster using the SLURM job scheduler
	}

withName: bracken {
	 executor='local' //'slurm' //this job should be performed on the cluster using the SLURM job scheduler
}


}
