params{
  reads = "$baseDir/input/{1,2}.fastq"
  scripts = "$baseDir/add_script/final_report_v5.py"

  kraken_db = "/home/gerrit/scratch/metagenomics-hackathon-2019/dbs/kraken2/minikraken2_v2_8GB"

  viralGenomes ="/home/mariemhanachi/data/virus_genomes/all_"

  genomedb ="/home/mariemhanachi/data/bmtagger/hs37_" 
  out_dir="/home/mariemhanachi/output/"

}


process {
    cache = true

    stageInMode='symlink'
    stageOutMode='rsync'

    withLabel: fastq_screen {
        container = 'docker:quay.io/biocontainers/fastq-screen'
    }
    withLabel: bowtie {
        container = 'docker:quay.io/biocontainers/bowtie'
    }
    withLabel: samtools {
        container = 'docker:quay.io/biocontainers/samtools'
    }
    withLabel: kraken {
        container = 'docker://quay.io/grbot/kraken2'
    }
    withLabel: krona {
        container = 'docker://quay.io/grbot/krona'
    }
    withLabel: finalreport {
        container = 'docker://quay.io/grbot/final-report'
    }
}
