params.outdir = "/$PWD/"
params.screen = "$PWD/fastq_screen"
params.screenconfig = "$PWD/fastq_screen.conf"
params.reads = "$baseDir/input/*{1,2}.fastq"
params.bowtie2 ="$PWD/bowtie2"
params.kraken = "/$PWD/kraken2-master/kraken2"
params.viralGenomes ="/$PWD/all_viral/all_"
params.krakenDB2="/$PWD/kraken/minikraken2_v2_8GB_201904_UPDATE/"
params.kronadb="/$PWD/krona/taxonomy/taxonomy.tab"
params.finalreport = "/$PWD/final_5.py"
params.fastavir = "$PWD/all_viral/all.fasta"
params.lite = "$PWD/pairfq_lite"
