singularity.autoMounts = true
singularity.enabled = true

params{
    // Paths to input and output dirs
    in_dir = "/spaces/gerrit/projects/metagenomics-hackathon-2019/datasets/test/nanopore/salmonella-enterica/small"
    out_dir = "/spaces/gerrit/projects/metagenomics-hackathon-2019/nextflow/out"

    // Paths to tool dbs 
    // We assume that the kraken and minimap2 databases have been build. Can look into a separate Nextflow pipeline later that build the databases based on our search criteria.
    kraken_db = "/spaces/gerrit/projects/metagenomics-hackathon-2019/dbs/kraken2/minikraken2_v2_8GB"
    minimap2_db = "/spaces/gerrit/projects/metagenomics-hackathon-2019/dbs/minimap2/all.fasta"
    krona_db = "/opt/exp_soft/bioinf/KronaTools/taxonomy"
    //krona_db = "/spaces/gerrit/projects/metagenomics-hackathon-2019/soft/KronaTools-2.7/taxonomy"
}

executor{
    jobName = { "$task.tag" }
}

process {
    cache = true

    stageInMode='symlink'
    stageOutMode='rsync'
/*
    withLabel: kraken {
        container = 'docker://quay.io/biocontainers/kraken2:2.0.7_beta--pl526h6bb024c_3'
    }
*/    
    withLabel: minimap2 {
        container = 'docker://quay.io/biocontainers/minimap2:2.16--h84994c4_1'
    }
/*   
    withLabel: krona {
        container = 'docker://quay.io/biocontainers/krona:2.7--pl526_3'
    }
*/
}

profiles {
    standard {
        process.executor = 'local'
    }

    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.time = 96.h
        process.errorStrategy = 'retry'
	process.maxRetries = 5
	process.maxErrors = 1000
        process.clusterOptions = '--mail-user=gerrit.botha@uct.ac.za'
    }

}
